<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"> -->
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"> -->
        <!-- <link  rel="stylesheet" href="css\style.css"> -->
    </head>
    <body>
        <img class="wave" src="static/img/wave1.jpeg">
        <div class="container">
          <div class="img">
              
            <img src="static/img/bg.svg">
          </div>
          <div class="login-content">
            
        <form action="" method="POST">
            <img src="static/img/resume.svg">
            <table>
            <tr>
            <td> <button  type="submit" 
                name = "submit_button" value="create_job" class="button1" >
                Create job</button>
            </td>
            <td> <button  type="submit" 
                name = "submit_button" value="select_emp" class="button1" >
                Select employees</button>
            </td>
            </tr>
        </table>
        </form>     
            
    </div>
</div>  
        <!-- <script type="text/javascript" src="index.js"></script> -->
    </body>
</html>